<div class="home">
  <div class="logo-text">
    <ion-img class="logo-home"
      src="/assets/images/logoCoink.svg"
      alt="Logo Coink"
    ></ion-img>
    <p class="text-home font-titles">
      LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA
    </p>
  </div>
  <div class="buttons">
    <ion-button [routerLink]="['/register']"
      class="button-register"
      shape="round"
      color="green">
      <span class="text-button">REGÍSTRATE</span>
    </ion-button>
    <ion-button class="button-enter"
      shape="round"
      color="greenbold">
      <span class="text-button">INGRESA</span>
    </ion-button>
  </div>
</div>
